@import "tailwindcss";

:root {
  --background: #131313;
  --foreground: #ffffff;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #201f1f;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
